<section class="py-16 lg:py-20 bg-white">
  <div class="max-w-7xl mx-auto p-8">
    <div class="max-w-4xl mx-auto text-center space-y-6">
      <h2 class="text-3xl lg:text-4xl font-bold text-gray-900">
        ¿Qué es el ultrasonido musculoesquelético?
      </h2>
      <p class="text-lg text-gray-700 leading-relaxed">
        Por medio del ultrasonido se crean imágenes en tiempo real para evaluar
        los músculos, ligamentos, tendones y articulaciones. A diferencia de las
        radiografías o tomografías que se enfocan en tejido óseo (huesos), esta
        entre sus ventajas es que no usa radiación ionizante, por eso es una
        opción confiable para estudiar esguinces o patologías de músculos o
        tendones.
      </p>
    </div>
  </div>
</section>
