---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import HeroSection from "@/components/doppler/HeroSection.astro";
import WhatIsDoppler from "@/components/doppler/WhatIsDoppler.astro";
import Benefits from "@/components/doppler/Benefits.astro";
import DopplerTypes from "@/components/doppler/DopplerTypes.astro";
import DopplerRecommendation from "@/components/doppler/DopplerRecommendation.astro";
import WhyDeltaScan from "@/components/doppler/WhyDeltaScan.astro";
import HowItIs from "@/components/common/HowItIs.astro";
import Pathologies from "@/components/doppler/Pathologies.astro";
import ExamPreparation from "@/components/doppler/ExamPreparation.astro";
import Results from "@/components/doppler/Results.astro";
import CTA from "@/components/common/CTA.astro";
import FAQ from "@/components/common/FAQ.astro";
import { Calendar, Bed, Droplets, Search, FileText } from "@lucide/astro";

const steps = [
  {
    icon: Calendar,
    title: "Agenda tu cita",
    description:
      "Contáctanos vía WhatsApp o llámanos para poder resolver tus dudas y agendar tu cita en el horario que te quede mejor.",
    number: 1,
    color: "from-pink-500 to-pink-600",
  },
  {
    icon: Bed,
    title: "Posicionamiento en la camilla",
    description:
      "Te acomodamos para que la zona a examinar quede perfectamente expuesta.",
    number: 2,
    color: "from-pink-600 to-pink-700",
  },
  {
    icon: Droplets,
    title: "Aplicación de gel",
    description:
      "Te aplicamos gel sobre la zona a evaluar, para garantizar un contacto perfecto con la sonda.",
    number: 3,
    color: "from-pink-500 to-pink-600",
  },
  {
    icon: Search,
    title: "Exploración guiada",
    description:
      "El radiólogo posiciona el transductor y ajusta parámetros en pantalla, mientras conversa contigo y resuelve todas tus dudas.",
    number: 4,
    color: "from-pink-600 to-pink-700",
  },
  {
    icon: FileText,
    title: "Entrega de resultados",
    description:
      "Por último, te entregamos tus resultados en formato físico con un folder, acompañado de una interpretación para aclarar dudas.",
    number: 5,
    color: "from-pink-500 to-pink-600",
  },
];


const faqData = [
  {
    id: 1,
    question:
      "¿Puedo retomar mi rutina (caminar, conducir o hacer ejercicio suave) justo después del examen Doppler?",
    answer:
      "Sí, el Doppler no es un estudio invasivo, es una función especial del ultrasonido, por lo que no tiene efectos secundarios que te impidan llevar tu vida normal.",
  },
  {
    id: 2,
    question:
      "¿Cómo afectan al Doppler mis medicamentos anticoagulantes o antiinflamatorios?",
    answer:
      "No afecta, ya que no se introduce ningún tipo de medicamento o agujas para realizar el estudio no interactúa con ningún medicamento que se esté utilizando",
  },
  {
    id: 3,
    question: "¿Qué pasa si tengo prótesis metálicas o marcapasos?",
    answer:
      "No afecta, ya que no usa radiación y las imágenes no dependen de esta. Tampoco se utiliza magnetos que puedan suponer algún problema con objetos metálicos o interferir con otros aparatos que utilizan energía.",
  },
  {
    id: 4,
    question:
      "¿Cada cuánto debería repetir un estudio Doppler para seguimiento?",
    answer:
      "Regularmente por ser un estudio solicitado por patologías específicas, es tu médico tratante quien determina la periodicidad para realizar estos estudios.",
  },
  {
    id: 5,
    question:
      "¿El Doppler me informa sobre la elasticidad y salud de mis vasos, además del flujo?",
    answer:
      "No, el Doppler es solicitado para evaluar presencia, alteración o ausencia de flujo.",
  },
  {
    id: 6,
    question:
      "¿Se puede realizar a niños, adultos mayores o pacientes con movilidad limitada?",
    answer:
      "Sí, no tiene contraindicación en ningún grupo poblacional. Muchas veces son niños y adultos mayores a los que más se les realiza estos tipos de estudios.",
  },
];
const timeEstimate="20 a 30 minutos";
const heading="¿Cómo es un Ultrasonido Doppler en DeltaScan?"
---

<Layout
  title="Terrarios para reptiles | EcoRefugio"
  description="Terrarios premium con higrómetro y termómetro integrados, cierre magnético ultra seguro, entre otros accesorios. Recorre las mejores guías y comparativas para elegir el tuyo."
  url="https://ecorefugio.com/"
>
  <Header />

  <main>
    <HeroSection />
    <WhatIsDoppler />
    <Benefits />
    <DopplerTypes />
    <DopplerRecommendation />
    <WhyDeltaScan />
    <HowItIs 
    steps={steps}
    timeEstimate={timeEstimate}
    heading={heading}
    />
    <Pathologies />
    <ExamPreparation />
    <Results />
    <CTA
      title="Reserva ahora tu Ultrasonido Doppler"
      subtitle="y resuelve todas tus dudas con nuestros especialistas"
    />
    <FAQ
      title="Preguntas Frecuentes sobre Ultrasonidos Doppler"
      description="Encuentra respuestas a las preguntas más comunes sobre Ultrasonidos Doppler"
      faqData={faqData}
    />
  </main>

  <Footer />
</Layout>
