---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import HeroSection from "@/components/biopsiademamaguiada/HeroSection.astro";
import WhatIs from "@/components/biopsiademamaguiada/WhatIs.astro";
import CommonUses from "@/components/biopsiademamaguiada/CommonUses.astro";
import BiopsyTypes from "@/components/biopsiademamaguiada/BiopsyTypes.astro";
import Preparation from "@/components/biopsiademamaguiada/Preparation.astro";
import Equipment from "@/components/biopsiademamaguiada/Equipment.astro";
import Procedure from "@/components/biopsiademamaguiada/Procedure.astro";
import Experience from "@/components/biopsiademamaguiada/Experience.astro";
import Results from "@/components/biopsiademamaguiada/Results.astro";
import Benefits from "@/components/biopsiademamaguiada/Benefits.astro";
import Limitations from "@/components/biopsiademamaguiada/Limitations.astro";
import WhyChooseUs from "@/components/biopsiademamaguiada/WhyChooseUs.astro";
import CTA from "@/components/common/CTA.astro";
import FAQ from "@/components/common/FAQ.astro";

const faqData = [
  {
    id: 1,
    question: "¿Debo estar en ayunas antes del procedimiento?",
    answer:
      "No es necesario ayuno para el procedimiento, ya que es una estudio invasivo menor, solo se usa anestesia local",
  },
  {
    id: 2,
    question: "¿Qué no debo hacer después del procedimiento?",
    answer:
      "Recomendamos un reposo relativo de 48 horas post procedimiento que consiste en no cargar cosas pesadas, ejercicios o movimientos a repetición para evitar un sangrado post biopsia.",
  },
  {
    id: 3,
    question: "¿Cuáles son las contraindicaciones para someterse a este procedimiento?",
    answer:
      "No existe contraindicaciones, sin embargo, se tiene en cuenta antecedentes médicos de pacientes, especialmente aquellos que puedan provocar un sangrado excesivo (uso de anticoagulantes, enfermedades hemofílicas), por eso, al momento de agendar tu cita se estudian todas las posibilidades para ayudar a brindar el mejor método diagnóstico.",
  },
  {
    id: 4,
    question: "¿Se puede realizar la biopsia si estoy embarazada o amamantando?",
    answer:
      "Si, muchas lesiones mamarias aparecen durante estas dos etapas y está indicado la realización de biopsia para evaluar su causa.",
  },
  {
    id: 5,
    question: "¿Puede recibir sedación o solo se usa anestesia local?",
    answer:
      "Por ser un procedimiento invasivo menor, nosotros utilizamos sedación local, existen otros sitios donde ofrecen sedación, sin embargo, esto implica el uso de encamamiento, equipo especial y médico anestesiólogo para colocar la sedación, así como una monitorización cardiovascular constante, por lo que esta variante no la ofrecemos en nuestra clínica diagnostica.",
  },
];

---

<Layout
  title="Terrarios para reptiles | EcoRefugio"
  description="Terrarios premium con higrómetro y termómetro integrados, cierre magnético ultra seguro, entre otros accesorios. Recorre las mejores guías y comparativas para elegir el tuyo."
  url="https://ecorefugio.com/"
>
  <Header />

  <main>
    <HeroSection />
    <WhatIs />
    <CommonUses />
    <BiopsyTypes />
    <WhyChooseUs />
    <Preparation />
    <Equipment />
    <Procedure />
    <Experience />
    <Results />
    <Benefits />
    <Limitations />
    <CTA
      title="Reserva ahora tu biopsia de mama guiada"
      subtitle="y resuelve todas tus dudas con nuestros especialistas"
    />
    <FAQ
      title="Preguntas Frecuentes sobre Biopsias Mamarias Ecodirigidas"
      description="Encuentra respuestas a las preguntas más comunes sobre Biopsias Mamarias Ecodirigidas"
      faqData={faqData}
    />
  </main>

  <Footer />
</Layout>
